# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# SHA 256
*.sha256

# Backups
*.versionsBackup

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

.idea
*.iml

# Spotless
target/spotless-index
mustache-templates/target/spotless-index
tests/target/spotless-index
test-useJakartaEe/target/spotless-index
test-utils/target/spotless-index
test-common/target/spotless-index

# Maven Archiver & Status
mustache-templates/target/maven-archiver
mustache-templates/target/maven-status
tests/target/maven-archiver
tests/target/maven-status
test-useJakartaEe/target/maven-archiver
test-useJakartaEe/target/maven-status
test-utils/target/maven-archiver
test-utils/target/maven-status
test-common/target/maven-archiver
test-common/target/maven-status

tests/target/dependency-maven-plugin-markers
tests/target/surefire-reports
test-useJakartaEe/target/dependency-maven-plugin-markers
test-useJakartaEe/target/surefire-reports

tests/target/generated-sources/openapi/src/*
!tests/target/generated-sources/openapi/src/**/

test-useJakartaEe/target/generated-sources/openapi/src/*
!test-useJakartaEe/target/generated-sources/openapi/src/**/

tests/target/generated-sources/openapi/src/.github
tests/target/generated-sources/openapi/src/.openapi-generator
tests/target/generated-sources/openapi/src/api
tests/target/generated-sources/openapi/src/gradle
tests/target/generated-sources/openapi/src/src/main

test-useJakartaEe/target/generated-sources/openapi/src/.github
test-useJakartaEe/target/generated-sources/openapi/src/.openapi-generator
test-useJakartaEe/target/generated-sources/openapi/src/api
test-useJakartaEe/target/generated-sources/openapi/src/gradle
test-useJakartaEe/target/generated-sources/openapi/src/src/main
# Exclude Supporting Files
**/auth/**
AbstractOpenApiSchema.java
ApiCallback.java
ApiClient.java
ApiClient$*.java
ApiException.java
ApiResponse.java
Configuration.java
GzipRequestInterceptor.java
GzipRequestInterceptor$*.java
JavaTimeFormatter.java
JSON.java
JSON$*.java
Pair.java
ProgressRequestBody.java
ProgressRequestBody$*.java
ProgressResponseBody.java
ProgressResponseBody$*.java
RFC3339DateFormat.java
ServerConfiguration.java
ServerVariable.java
StringUtil.java

tests/target/site/jacoco
tests/target/jacoco.exec

test-useJakartaEe/target/site/jacoco
test-useJakartaEe/target/jacoco.exec

test-common/target/site/jacoco
test-common/target/jacoco.exec

# Ignore Imported Files
tests/target/classes/templates
tests/target/classes/api.yaml

test-useJakartaEe/target/classes/templates
test-useJakartaEe/target/classes/api.yaml
