{{!
  Source: openapi-to-java-records-mustache-templates
  Version: 1.7.0

  Enabled via configOptions.generateBuilders=true

}}{{#generateBuilders}}

    /**
     * Builder class for {@link {{classname}} }
     */
    public static class Builder {

        {{#vars}}
        private {{{datatypeWithEnum}}} {{name}};
        {{/vars}}
        {{#vars}}

        /**
         * Sets the value of {@link {{classname}}#{{name}} }.
         * <p><b>NOTE:</b> Pass-by-reference is used{{#description}}
         * <p><b>Description:</b> {{.}}{{/description}}
         */
        public Builder {{name}}(final {{{datatypeWithEnum}}} {{name}}) {
            this.{{name}} = {{name}};
            return this;
        }
        {{/vars}}

        /**
         * Builds a {@link {{classname}} }-instance with the values provided in
         * preceding builder methods.
         * <p><b>NOTE:</b> Pass-by-reference is used{{#description}}
         * <p><b>Description:</b> {{.}}{{/description}}
         */
        public {{classname}} build() {
            return new {{classname}}(
                {{#vars}}{{name}}{{^-last}},
                {{/-last}}{{/vars}}
            );
        }
    }

    /**
     * Creates a {@link Builder}-instance.
     */
    public static {{classname}}.Builder builder() {
        return new {{classname}}.Builder();
    }{{!
}}{{/generateBuilders}}