{{!
  Source: openapi-to-java-records-mustache-templates
  Version: 1.11.2

  This template is a custom template, and is used by `pojo.mustache` and `modelEnum.mustache`.

}}/**
 * {{description}}{{^description}}{{classname}}{{/description}}{{#isDeprecated}}
 *
 * @deprecated{{/isDeprecated}}{{#vars}}{{#-first}}{{^isDeprecated}}
 *{{/isDeprecated}}{{/-first}}
 * @param {{name}} {{description}}{{^description}}{{{datatypeWithEnum}}}{{/description}}{{!
}}{{/vars}}
 */
