/**
 * {{description}}{{#isDeprecated}}
 * @deprecated{{/isDeprecated}}
 */{{#isDeprecated}}
@Deprecated{{/isDeprecated}}
public record {{classname}}(
    {{#vars}}{{datatypeWithEnum}} {{name}}{{^-last}},
    {{/-last}}{{/vars}}) {

}