{{!
  Source: openapi-to-java-records-mustache-templates
  Version: 1.6.2

  Enabled via configOptions.serializableModel=true

}}{{#serializableModel}}
    private static final long serialVersionUID = 1L;
{{/serializableModel}}