{{!
  Source: openapi-to-java-records-mustache-templates
  Version: 1.7.6
}}{{!
  if (configOption.useBeanValidation == true)
}}{{#useBeanValidation}}{{!
    if (required == false)
  }}{{^required}}{{!
    When not required, the field *may* be nullable according to openapi-generator-maven-plugin.
  }}{{/required}}{{!
    if (required == true)
  }}{{#required}}{{!
      if (isNullable == true)
    }}{{#isNullable}}{{!
       Jakarta Bean Validation does not have constraint annotations for nullable values,
       as values are nullable by default.
    }}{{/isNullable}}{{!
      if (isNullable == false)
    }}{{^isNullable}}{{!
      }} @NotNull{{!
    }}{{/isNullable}}{{!
  }}{{/required}}{{!
}}{{/useBeanValidation}}