{{!
  Source: openapi-to-java-records-mustache-templates
  Version: 1.11.1

  Enabled via configOption.useBeanValidation=true

}}{{#useBeanValidation}}{{!
  }}{{^required}}{{!
    When not required, the field *may* be nullable according to openapi-generator-maven-plugin.
  }}{{/required}}{{!
  }}{{#required}}{{!
    }}{{#isNullable}}{{!
       Jakarta Bean Validation does not have constraint annotations for nullable values,
       as values are nullable by default.
    }}{{/isNullable}}{{!
    }}{{^isNullable}}{{!
      }} @NotNull{{!
    }}{{/isNullable}}{{!
  }}{{/required}}{{!
  }}{{#pattern}}{{!
    }} @Pattern(regexp = "{{{.}}}"){{!
  }}{{/pattern}}{{!
  }}{{#minLength}}{{!
    }}{{#maxLength}}{{!
      }} @Size(min = {{minLength}}, max = {{maxLength}}){{!
    }}{{/maxLength}}{{!
  }}{{/minLength}}{{!
  }}{{#minLength}}{{!
    }}{{^maxLength}}{{!
      }} @Size(min = {{minLength}}){{!
    }}{{/maxLength}}{{!
  }}{{/minLength}}{{!
  }}{{^minLength}}{{!
    }}{{#maxLength}}{{!
      }} @Size(max = {{maxLength}}){{!
    }}{{/maxLength}}{{!
  }}{{/minLength}}{{!
  }}{{#minItems}}{{!
    }}{{#maxItems}}{{!
      }} @Size(min = {{minItems}}, max = {{maxItems}}){{!
    }}{{/maxItems}}{{!
  }}{{/minItems}}{{!
  }}{{#minItems}}{{!
    }}{{^maxItems}}{{!
      }} @Size(min = {{minItems}}){{!
    }}{{/maxItems}}{{!
  }}{{/minItems}}{{!
  }}{{^minItems}}{{!
    }}{{#maxItems}}{{!
      }} @Size(max = {{maxItems}}){{!
    }}{{/maxItems}}{{!
  }}{{/minItems}}{{!
  }}{{#isInteger}}{{!
    }}{{#minimum}}{{!
      }} @Min({{.}}){{!
    }}{{/minimum}}{{!
    }}{{#maximum}}{{!
      }} @Max({{.}}){{!
    }}{{/maximum}}{{!
  }}{{/isInteger}}{{!
  }}{{#isLong}}{{!
    }}{{#minimum}}{{!
      }} @Min({{.}}L){{!
    }}{{/minimum}}{{!
    }}{{#maximum}}{{!
      }} @Max({{.}}L){{!
    }}{{/maximum}}{{!
  }}{{/isLong}}{{!
  }}{{^isInteger}}{{!
    }}{{^isLong}}{{!
      }}{{#minimum}}{{!
        }} @DecimalMin({{#exclusiveMinimum}}value={{/exclusiveMinimum}}"{{minimum}}"{{#exclusiveMinimum}},inclusive=false{{/exclusiveMinimum}}){{!
      }}{{/minimum}}{{!
      }}{{#maximum}}{{!
        }} @DecimalMax({{#exclusiveMaximum}}value={{/exclusiveMaximum}}"{{maximum}}"{{#exclusiveMaximum}},inclusive=false{{/exclusiveMaximum}}){{!
      }}{{/maximum}}{{!
    }}{{/isLong}}{{!
  }}{{/isInteger}}{{!
}}{{/useBeanValidation}}