---
---
@import "{{ site.theme }}";

@media (prefers-color-scheme: dark) {
  body, .markdown-body {
    background-color: #0d1117 !important;
    color: #c9d1d9 !important;
  }

  .markdown-body a {
    color: #58a6ff !important;
  }

  .markdown-body img {
    background-color: transparent !important;
  }
}